@import "../../styles/abstract/_variables.scss";

.Navigation {
  &__Item:not(:last-child) {
    margin-right: 32px;
  }
  &__Link {
    position: relative;
    padding-top: 28px 0 32px;

    text-decoration: none;
    text-transform: uppercase;
    color: $blackColor;
    font-family: $mainFont;
    font-size: 16px;
    line-height: 120%;
  }
  &__Link:hover,
  &__Link:focus {
    color: $accentColor;
    font-weight: 600;
  }
  &__Link_active {
    composes: Navigation__Link;
    color: $accentColor;
    font-weight: 600;
  }
  &__Link_active::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    top: 45px;
    width: 100%;
    height: 2px;
    background-color: $accentColor;
  }
}
